.container {
    background-color: #555;
    color: #fff;
    margin-top: 20px;
    padding: 20px;
    /*
    --slice-ammount: 10px;
    background: linear-gradient(45deg, transparent 0px, #555 calc(100% - var(--slice-ammount)), transparent calc(100% - var(--slice-ammount))), linear-gradient(45deg, transparent var(--slice-ammount), #555 var(--slice-ammount), transparent 100%), url(http://lorempixel.com/100/100);
    */
    background-image: url('./images/brick.png');
    background-size: 24px;
    box-shadow: inset #000a 0px 0px 1000px 500px;
}